.titularesTerciarios{
    display: flex;
    .titularTerciario{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 1.66%;
        .titularTerciario__IMG{
            width: 90%;
            margin: 2% 5% 1% 5%;
            #titularTerciario__IMG{
                width: 100%;
            }
        }
        .titularTerciario__TITULO{
            margin: 1% 4%;
        }
        .titularTerciario__SUBTITULO{
            margin: 1% 4%;
        }
    }
    .vr{
        border-left: 1px solid #080907;
        margin-top: 1%;
        height: 64.5%;
        position:absolute;
        left: 33.33%;
    }
    .vr2{
        border-left: 1px solid #080907;
        margin-top: 1%;
        height: 64.5%;
        position:absolute;
        left: 66.66%;
    }
}